<div class="row">
	<form>
		<div class="input-field col s12 m6">
			<select [(ngModel)]="selected" >
				<option value="" disabled="" selected="">Choose your option</option>
				<option [attr.value]="i" *ngFor="#widget of listWidget; #i = index">{{widget.name}}</option>
			</select>
		</div>
		<div class="input-field col s2 m2">
			<a class="btn waves-effect waves-light indigo" (click)="add()">Add</a>
		</div>
	</form>
</div>
<div class="grid-stack" data-gs-width="12">
	<div class="grid-stack-item ui-draggable ui-resizable ui-resizable-autohide" [attr.id]="'grid-'+i" [attr.data-gs-x]="item.row" [attr.data-gs-y]="item.col" [attr.data-gs-width]="item.sizeX"
	     [attr.data-gs-height]="item.sizeY" *ngFor="#item of standardItems; #i = index" data-gs-auto-position="true">
		<div class="grid-stack-item-content">
			<div class="card" style="height: 95%">
				<div class="card-header">
					{{item.name}}
				</div>
				<div class="card-content" style="height: 90%">
					<kibana [url]="item.url"></kibana>
				</div>
			</div>
		</div>
	</div>
</div>